---
layout: archive
---

{{ content }}

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About me" }}</h2>

I am a PhD student working at LISN, CNRS, Université Paris-Saclay. 
I am honored to be advised by <a href="https://fyvo.github.io/"> François Yvon</a> and co-advised by <a href="https://caio-corro.fr/">Caio Corro</a>.
Before that, I received my Bachelor's degree in Computer Science and my Master's degree in Artificial Intelligence from Université Paris-Saclay.
<br><br>
My research interests lie in Natural Language Processing, especially in Semantic Parsing.


<h2 id="publications" class="archive__subtitle">{{ site.data.ui-text[site.locale].publications | default: "Publications" }}</h2>

<p class="archive__item-excerpt">

<ul>
	<li> 5. Structural generalization in COGS: Supertagging is (almost) all you need <br>
		 <b> Alban Petit</b>, Caio Corro, François Yvon <br>
		 EMNLP 2023 - Conference on Empirical Methods in Natural Language Processing <br>
		 <a href="https://aclanthology.org/2023.emnlp-main.69/"> paper </a>
	</li>
	<li> 4. On graph-based reentrancy-free semantic parsing <br>
		 <b> Alban Petit</b>, Caio Corro <br>
		 TACL 2023 - Transactions of the Association for Computational Linguistics <br>
		 <a href="https://aclanthology.org/2023.tacl-1.41/"> paper </a>
	</li>
	<li> 3. Un algorithme d'analyse sémantique fondée sur les graphes via le problème de l'arborescence généralisée couvrante <br>
		 <b> Alban Petit</b>, Caio Corro <br>
		 TALN 2022 - Conférence sur le Traitement Automatique des Langues Naturelles <br>
		 <a href="https://aclanthology.org/2022.jeptalnrecital-taln.22"> paper </a>
	</li>
	<li> 2. Preventing posterior collapse in variational autoencoders for text generation via decoder regularization <br>
		 <b> Alban Petit</b>, Caio Corro <br>
		 NeurIPS 2021 Workshop - Deep Generative Models and Downstream Applications <br>
		 <a href="https://www.arxiv.org/abs/2110.14945"> paper </a>
	</li>
	<li> 1. Auto-encodeurs variationnels : contrecarrer le problème de posterior collapse grâce à la régularisation du décodeur <br>
		 <b> Alban Petit</b>, Caio Corro <br>
		 TALN 2021 - Conférence sur le Traitement Automatique des Langues Naturelles <br>
		 <a href="https://www.aclanthology.org/2021.jeptalnrecital-taln.1"> paper </a>
	</li>
</ul>

</p>

<h2 id="experiences" class="archive__subtitle">{{ site.data.ui-text[site.locale].experiences | default: "Experiences" }}</h2>

<p class="archive__item-excerpt">

<ul>
	<li> 2021 - 2023, EACL Student Board member	</li>
	<li> 2020 - present, PhD Student, LISN, CNRS, Université Paris-Saclay </li>
	<li> 2020, Research Intern, LIMSI (now LISN), CNRS, Université Paris-Saclay </li>
	<li> 2019, Research Intern, LRI (now LISN), Université Paris-Saclay </li>
</ul>

</p>



{% include paginator.html %}
