---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About me" }}</h3>

Test

<h3 id="publications" class="archive__subtitle">{{ site.data.ui-text[site.locale].publications | default: "Publications" }}</h3>

3. Un algorithme d'analyse sémantique fondée sur les graphes via le problème de l'arborescence généralisée couvrante  
Alban Petit, Caio Corro  
TALN 2022 - Conférence sur le Traitement Automatique des Langues Naturelles

2. Preventing posterior collapse in variational autoencoders for text generation via decoder regularization  
Alban Petit, Caio Corro  
NeurIPS 2021 Workshop - Deep Generative Models and Downstream Applications  
\[[Paper](https://www.arxiv.org/abs/2110.14945 "Paper2")\]

1. Auto-encodeurs variationnels : contrecarrer le problème de posterior collapse grâce à la régularisation du décodeur  
Alban Petit, Caio Corro  
TALN 2021 - Conférence sur le Traitement Automatique des Langues Naturelles  
\[[Paper - ACL Anthology](https://www.aclanthology.org/2021.jeptalnrecital-taln.1 "Paper1a")\] \[[Paper - HAL](https://hal.archives-ouvertes.fr/hal-03265886/document "Paper1b")\]

<h3 id="experiences" class="archive__subtitle">{{ site.data.ui-text[site.locale].experiences | default: "Experiences" }}</h3>

Test



{% include paginator.html %}
